.headerContainer {
  height: 4rem;
  background: var(--pink-100);
  border-bottom: 1px solid var(--gray-50);
}

.headerContent {
  max-width: 900px;
  padding: 1rem;
  margin: 0 auto;
  height: 4rem;
  display: flex;
  align-items: center;
  button {
    margin-left: auto;
  }
}

.logo {
  font-weight: bold;
  transition: color 0.2s;
  &:hover {
    filter: brightness(1.2);
  }
  color: var(--pink-500);
  svg {
    transform: rotate(-25deg);
    margin-right: 0.4rem;
    font-size: 1.6rem;
  }
  span {
    font-size: 1.4rem;
  }
}
